*{
    text-align: center;
}

.marketplace{
    display: none;
}

.main{
    display: block;
}

#axes{
    display: none;
}

#picks{
    display: none;
}

button{
    background-color: white;
    font-size: 18px;
}